{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Rhys Rushton
</h1>

<h2>What is this place?</h2>
<p> This is a place for me to write, display my projects and whatever else I end up doing. I wanted to be able to write my blog from a terminal anywhere in the world and love the simplicity of <a href ="https://www.getzola.org/">Zola</a>. </p>
<p> Welcome to my corner of the internet.</p>
<h2> Why So Simple?</h2>
<p> Please see <a href="https://motherfuckingwebsite.com/">this.</a> No, I'm not in any way opposed to web frameworks - I think they're awesome. I just wanted my personal site to be simple. I also like the elegance of static sites.</p>
{% endblock content %}